*{
    margin: 0;
    padding: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
}
img{
    width: 100%;
}

body{
    min-height: 100vh;
    background:linear-gradient(#FFFFFF, #EBDCFF) ;
}
#banner{
     background-image: url(images/hero-bg.png);
     margin: 100px auto 120px auto;
     padding: 20px 30px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     width: 87.5%;
     background-color: white;
     border-radius: 40px;
     border: 2px solid #F411CF10;


}
.bannner-content{
   width: 50%;
}
.banner-img{
    width: 50%;
}
.bannner-content h1{
    font-size: 70px;
    font-weight: bold;
}
.bannner-content h1 span{
    color:#F411CF ;
}
.bannner-content p{
    font-size: 18px;
    line-height: 30px;
    color: #868585;
}
button{
     margin-top: 36px;
     font-weight: bold;
    font-size: 14px;
}
.btn{
    padding: 16px 32px;
    border-radius: 30px;
    background-color:#872BFF ;
    color: #FFFFFF;
    border: 1px solid #872BFF;
    margin: 10px;

}
.btn-white{
     padding: 16px 32px;
    border-radius: 30px;
    background-color: #FFFFFF;
    border: 1px solid #872BFF;
}

.banner-img img{
    height: 598px;
    margin-bottom: 20px;
    
}
#service{
     width: 87.5%;
     margin: 0 auto 120px auto;
}
.head-content{
     text-align: center;
     margin-bottom: 60px;

}
.head-content h4{
    color: #F411CF;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 30%;

}
.head-content h2{
    font-weight: bold;
    font-size: 44px;
}
.service-card-container{
    display: flex;
    justify-content: space-evenly;
}
.service-card{
    border: 1px solid #FDFFFF;
    border-radius: 30px;
    background-color: #FDFFFF;
    text-align: center;
    width: 280px;
    padding:40px;
    
}
.service-card img{
    margin-bottom: 30px;
    width: 80px;

}
.service-card h2{
    font-size: 28px;
    font-weight: semibold;
    margin: 20px 10px;

}
.service-card p{
    color:#A8A8A8 ;
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 30px;

}
#stories{
        width: 87.5%;
        margin: 0 auto 120px auto;
        margin-top: 120px;
}
.story-card img{
    width: 40%;
}
.story-card-content img{
    width: 100px;
}
.story-card{
    display: flex;
    justify-content: center;
     border: 1px solid #FDFFFF;
    border-radius: 24px;
    background-color: #FDFFFF;
    text-align: left;
    padding: 48px;
    gap: 32px;
}
.story-card-content{
    width: 60%;
}
.story-card-content h2{
   font-size: 32px;
   font-weight: bold;
   color: #0E0E0E;
   margin-bottom: 20px;
}
.story-card-content p{
    color: #A8A8A8;
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
}
#countries{
          width: 87.5%;
        margin: 0 auto 120px auto;
}
.country-name{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.country-name h2{
    padding: 30px;
    border-radius: 16px;
    border: 1px solid #FFFFFF;
    margin: 20px;
    background-color: #fff;
    font-size: 20px;

}
.explore-btn{
    text-align: center;
}

#review{
     width: 87.5%;
        margin: 0 auto 120px auto;
}
.review-box-1{
    text-align: center;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    margin: 50px;
}
.review-box-1 p{
    color:#A8A8A8 ;
    font-size: 16px;
    line-height: 24px;
    padding: 30px;
}
.review-star{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.review-star p{
   padding-bottom: 10px;
    padding-top:2px ;
}
.reviewer{
    margin-right: 350px;
}
#footer{
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 10px 150px;
}
.footer-icon i{
    color: #FFFFFF;
    border-radius: 50%;
    background-color: #872BFF;
    padding: 5px;
    font-size:16px ;
    font-weight: bold;
    margin: 5px;
}
#footer p{
   font-size: 14px;
   color: #A8A8A8;
}